<configuration scan="true">
  <appender name="EclipseLog" class="org.eclipse.jdt.ls.logback.appender.EclipseLogAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="EclipseLog" />
  </root>
</configuration>
